{%extends 'base/base.html'%}



{% block content %}
<div class="jumbotron">
  <p class="lead text-center">Obras Publicas Municipalidad de Tinogasta.</p>
  <hr class="my-4">
  <p class="text-center">Prueba las diversas funcionalidades para registrar, listar usuarios y servicios.</p>
    <p class="text-center">Además podrás generar comprobantes y recibos de pagos en formato PDF.</p>
</div>
  <p class="lead text-center">
      <a class="btn btn-success btn-lg d-inline-block m-1" href="{%url 'usuario_listar'%}" role="button">USUARIOS</a>
      <a class="btn btn-success btn-lg d-inline-block m-1" href="{%url 'plano_listar'%}" role="button">PLANOS</a>
      <a class="btn btn-success btn-lg d-inline-block m-1" href="" role="button">CONEXIONES</a>
      <a class="btn btn-success btn-lg d-inline-block m-1" href="" role="button">CEMENTERIO</a>
  </p>


{%endblock%}

<!-- /.container -->
{%block footer%}

<footer class="blog-footer">
  <p class="text-center">Servicio de software a medida.</p>
  <p class="text-center">
    <a>Copyright CHIPMUNK © 2019. All rights reserved.</a>
  </p>
</footer>
{%endblock%}
