{% extends 'base/base.html' %}

{%block header%}
{%endblock%}

{% block content %}
<br>
<br>
<form class="form-inline my-2 my-lg-0" type="get" method="POST" action="{%url 'usuario_buscar'%}">
 {% csrf_token %}
    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="buscalo" id="busca">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit" href="" id="botonBus">Busqueda por DNI</button>
</form>
<br>
<table class="table table-hover">
    <thead>
    <tr class="table-warning" >
        <td scope="col">#</td>
        <td scope="col">Nombre y Apellido</td>
        <td scope="col">DNI</td>
        <td scope="col">Dirección</td>
        <td scope="col">Catastro</td>
        <td scope="col">Celular</td>
        <td scope="col">Acciones</td>
        <td scope="col">Servicios</td>
    </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {%for  usuario in object_list%}
        <tr class="table-success">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.dni}}</td>
            <td>{{usuario.direccion}}</td>
            <td>{{usuario.catastro}}</td>
            {% if usuario.tel == None %}
            <td>Sin Celular</td>
            {% else %}
             <td>{{usuario.tel}}</td>
            {% endif %}
            <td><a class="btn btn-primary" href="{%url 'usuario_editar' usuario.id%}">Editar</a></td>
            <td>
            <nav class="dropdownmenu">
            <li><a>Seleccionar</a>
            <ul id="submenu">
                <li><a href="">Agua y cloacas</a></li>
                <li><a href="">Planos</a></li>
                <li><a href="">Cementerio</a></li>
            </ul>
            </li>
            </nav>
            </td>
        </tr>
        {%endfor%}
        {% else %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Ups! </strong>tú registro esta vacio, <a href="{% url 'usuario_nuevo' %}" class="alert-link">ingresa uno</a>.
        </div>
        {%endif%}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif%}
      {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif%}
  </ul>
</nav>
{% endblock%}

{% block js %}
<script>
    $(document).ready(function() {
        $('#botonBus').click(function() {
            var buscar = $('#busca').val();
            if (buscar==""){
                window.alert('Ingresa un DNI para realizar una busqueda');
            }
        });
    });
</script>
{% endblock %}