<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load static %}
	{% block static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/submenu.css' %}">
	<link rel="stylesheet" href="{% static 'css/imagen.css' %}">
	<script src="{% static 'js/jquery.min.js'%}"></script>

	{% endblock %}

	<title>{% block title %}Obras Publicas{% endblock %}</title>
</head>
{%block body%}
<body>
	{%block header%}
	<header>
		<div>
			<img src="{% static 'img/municipalidad.png' %}" id="img">

		</div>
	</header>

	{%endblock%}
	<div class="container">

		{% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="collapse navbar-collapse" id="navbarsExample03">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{%url 'index'%}">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuarios</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{%url 'usuario_nuevo'%}">Nuevo usuario</a>
                    <a class="dropdown-item" href="{%url 'usuario_listar'%}">Usuarios Registrados</a>
                  </div>
                </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proyectistas</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{%url 'proyectista_nuevo'%}">Nuevo</a>
                    <a class="dropdown-item" href="{%url 'proyectista_listar'%}">Proyectistas Registrados</a>
                  </div>
                </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inspección de Obras</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{%url 'obra_nuevo'%}">Nueva</a>
                    <a class="dropdown-item" href="{%url 'obra_listar'%}">Registros</a>
                  </div>
                </li>
                   <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Liquidación de planos</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{%url 'plano_nuevo'%}">Nuevo Pago</a>
                    <a class="dropdown-item" href="{%url 'plano_listar'%}">Registros de Pagos</a>
                  </div>
                   </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Infracciones</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{%url 'notifica_nuevo'%}">Crea Acta</a>
                    <a class="dropdown-item" href="{%url 'notifica_listar'%}">Registros</a>
                  </div>
                </li>
                </li>
              </ul>
            </div>
          </nav>


		{% endblock %}


		{% block content %}

		{% endblock %}

		{% block footer %}
		{% endblock%}


	</div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
 </body>
{% endblock %}
{% block js%}
{% endblock%}

</html>