<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{%block content%}
{% csrf_token %}


<form method="post" type="w">
    <h3>ACTA N° {{notificas.id}}</h3>
    <h3>LUGAR DEL HECHO</h3>
    <h3>{{notificas.lugar}}</h3>
    <h1>SECRETARIA DE OBRAS PUBLICAS</h1>
    <h1>MUNICIPALIDAD DE TINOGASTA</h1>
    <HR WIDTH=500>
    <div>
        <h3>DIA/MES/AÑO/HORA.</h3>
        <h3>{{notificas.fecha}}Hs..</h3>
        <h3>CARACTERISTICAS DEL HECHO</h3>
        <h3>{{notificas.hechos}}</h3>
        <h3>MAT. CATASTRAL: {{notificas.usuario.catastro}}</h3>
        <h3>NOMBRE Y APELLIDO: {{notificas.usuario.nombre}}</h3>
        <h3>DNI: {{notificas.usuario.dni}}</h3>
        <h3>DOMICILIO PARTICULAR: {{notificas.usuario.direccion}}</h3>
        <h3>CODIGO POSTAL: 5340</h3>
    </div>
    <HR WIDTH=500>
    <h1>HECHOS PRESUNTAMENTE INFRACCIONALES: </h1>
        <ul>
            <h3>
                {{notificas.hechos}}
            </h3>
        </ul>
    <br>
    <h1>NOTIFICACIÓN Y CITACIÓN:</h1>
    <h4>
        Queda Ud. Notificado/a del presente Acta y citado para comparecer, dentro de los 3(tres) días hábiles, ante los
        tribunales Municipales de Falta (calle Dr. Antonio del Pino N°739) en el horario de 08:00 a 13 Hs. Bajo apercibimiento
        de rebeldía, donde podrá formular descargo por escrito, ofrecer pruebas y exhibir documento de identidad.
    </h4>
    <br>
    <h4>
        Firma Inspector ...................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Firma Responsable ...................................
    </h4>
    <h4>
        Aclaración ...................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        D.N.I. ...................................
    </h4>
    <h4>Firma Ispector ...................................</h4>
    <h4>Aclaración .......................................</h4>
    <h4>Testigos .......................................................................................................
    ....................................................................................................................
    ...............
    </h4>
    <br>
    <HR WIDTH=500>
    <h4 align="center">IMPORTANTE NO DEBE ABONARSE SUMA ALGUNA AL RECIBIR COPIA DEL PRESENTE ACTA</h4>
    <HR WIDTH=500>
    <br>
    <h2 align="center">DESIGNACIÓN CATASTRAL</h2>
    <h3 align="center">Dpto.............Dto:............Sección:...............Parcela:...............</h3>



</form>

{%endblock%}
</body>
</html>






