{% extends 'base/base.html' %}
{% load static %}

{%block header%}
{%endblock%}

{% block content %}
<h5 class="p-3">Lista de Infracciones</h5>
<form class="form-inline my-2 my-lg-0" type="get" method="POST" action="{%url 'notifica_buscar'%}">
 {% csrf_token %}
    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="buscalo" id="busca">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit" href="" id="botonBus">Busqueda por DNI</button>
</form>
    <a class="navbar-brand float-right" href="{%url 'notifica_nuevo'%}" style="font-size:15px;">Crea Acta
        <img class="boton-circulo ecirculo" src="{% static 'img/papel.png' %}" style="width:50px;height:auto;">
    </a>
<table class="table table-hover">
    <thead>
    <tr class="table-light">
        <td scope="col">#</td>
        <td scope="col">Fecha del Hecho</td>
        <td scope="col">Lugar del Hecho</td>
        <td scope="col">Cacteristicas del Hecho</td>
        <td scope="col">Usuario</td>
        <td scope="col">DNI</td>
        <td scope="col">Catastro</td>
        <td scope="col">Hechos Infraccionales</td>
        <td scope="col">Fecha de Presentación</td>
        <td scope="col">Presentación</td>
        <td scope="col">Acciones</td>
    </tr>
    </thead>
    <tbody>
            {% if object_list%}
            {%for notifica in object_list%}
                {% if notifica.situacion == True %}
        <tr class="table-success">
                {% elif f_actual < notifica.fecha_limite and notifica.situacion == False %}
            <tr class="table-light">
                {% elif f_actual > notifica.fecha_limite %}
            <tr class="table-danger">
                    {% endif %}
            <td>{{notifica.id}}</td>
            <td>{{notifica.fecha}}</td>
            <td>{{notifica.lugar}}</td>
            <td>{{notifica.caracteristicas}}</td>
            <td>{{notifica.usuario.nombre}}</td>
                <td>{{notifica.usuario.dni}}</td>
                <td>{{notifica.usuario.catastro}}</td>
                <td><a class="btn btn-primary" href="{%url 'dato_notifica' notifica.id %}">Ver</a></td>
                <td>{{notifica.fecha_limite}}</td>
            {% if notifica.situacion == False %}
            <td>No se presento</td>
            {% elif notifica.situacion == True %}
             <td>{{notifica.fecha_presenta}}</td>
            {% endif %}

                <td>
                    <ul class="nav nav-pills">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Elegir</a>
                            <div class="dropdown-menu" style="">
                              <a class="dropdown-item" href="{%url 'notifica_editar' notifica.id%}">Editar</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{%url 'notifica_pdf' notifica.id%}">Imprimir Acta</a>
                                <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{%url 'presenta_editar' notifica.id%}">Presentacion persona</a>
                            </div>
                        </li>
                    </ul>
                </td>
        </tr>
        {%endfor%}
        {% else %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Ups! </strong>tú registro esta vacio, <a href="{% url 'notifica_nuevo' %}" class="alert-link">ingresa uno</a>.
        </div>
        {%endif%}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif%}
      {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif%}
  </ul>
</nav>
{% endblock%}

{% block js %}
<script>
    $(document).ready(function() {
        $('#botonBus').click(function() {
            var buscar = $('#busca').val();
            if (buscar==""){
                window.alert('Ingresa un DNI para realizar una busqueda');
            }
        });
    });
</script>
{% endblock %}