{% extends 'base/base.html' %}


{%block header%}
{%endblock%}

{% block content %}

                    <div class="card mb-3">
                      <h3 class="card-header">Datos de Solicitud</h3>
                      <div class="card-body">
                        <h5 class="card-title">Solicitud N°{{planos.id}}</h5>
                        <h6 class="card-subtitle text-muted">{{plano.usuario.dni}}</h6>
                      </div>
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                      <div class="card-body">

                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                      <div class="card-footer text-muted">
                        2 days ago
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>



{% endblock%}
