<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{%block content%}
{% csrf_token %}


<form method="post" type="w">
    <HR WIDTH=550>
    <div>
    <h1>MUNICIPALIDAD DE TINOGASTA</h1>
        <h1>SECRETARIA DE OBRAS PUBLICAS</h1>
        <p>Dirección: Dr. Antonio del Pino n° </p>
        <p>Tel.: </p>
        <p>Email: </p>
        <p>Documento no valido como factura</p>
    </div>
    <HR WIDTH=550>
    <h1>DATOS DEL USUARIO Y SOLICITUD</h1>
    <h2> Fecha de Solicitud: {{planos.fecha}}</h2>
    <h2>Orden de Solicitud N° {{planos.id}}</h2>
    <h2>Usuario: {{planos.usuario.nombre}}</h2>
    <h2>D.N.I.: {{planos.usuario.dni}}</h2>
    <h2>Matricula Catastral: {{planos.usuario.catastro}}</h2>
    <h2>Direccion de la Obra: {{planos.dir_obra}}</h2>
    <h2>Total de metros del plano: {{planos.metros}}</h2>
    <HR WIDTH=550>
    <h1>TOTAL A ABONAR</h1>
    <h2>Precio por metro cuadrado: ${{planos.precio_metro}} </h2>
    {% if planos.cuota == False %}
    <h2>Total a pagar: ${{planos.total}}</h2>
    <h2>Tipo de pago: 1 pago de ${{planos.total}}</h2>
    {% else %}
    <h2>Total a pagar: ${{planos.total}}</h2>
    <h2>Tipo de pago: 4 pagos de ${{planos.valor_cuota}}</h2>
    {% endif %}
    <HR WIDTH=550>
    <h1>DATOS DEL PAGO</h1>
    <h2>Fecha de pago: {{planos.fecha_pago4}}</h2>
    <h2>Saldo pendiente: ${{planos.s_cuota4}}</h2>
    <br>
    <h1 align="right">TOTAL A PAGAR: ${{planos.pago}}</h1>

</form>






{%endblock%}
</body>
</html>






