<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{%block content%}
{% csrf_token %}


<form method="post" type="w">
    <HR WIDTH=550>
    <div>
    <h1>MUNICIPALIDAD DE TINOGASTA</h1>
        <p>Dirección: Dr. Antonio del Pino n° </p>
        <p>Tel.: </p>
        <p>Email: </p>
        <p>Documento no valido como factura</p>
    </div>

    <HR WIDTH=550>
    <h1>DATOS DEL PLANO</h1>
    <h2> Fecha de Solicitud: {{planos.fecha}}</h2>
    <h2>Orden de reparación N° {{planos.id}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Usuario: {{planos.usuario}}</h2>

    <h2>Direccion de la Obra: {{planos.dir_obra}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Precio por metro cuadrado: {{planos.precio_metro}} </h2>

    <h2>Total de metros del plano: {{planos.metros}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Total a pagar: {{planos.total}}</h2>

    <HR WIDTH=550>
    <h1>DATOS DEL PAGO</h1>
    <h2>Fecha de pago: {{planos.fecha_pago}}</h2>
    <h2>Monto pagado: {{planos.pago}}</h2>
    <h2>Saldo pendiente: {{planos.deuda}}</h2>
    <br>
    <h1 align="right">TOTAL A PAGAR: {{planos.pago}}</h1>

</form>






{%endblock%}
</body>
</html>






