{% extends 'base/base.html' %}


{%block header%}
{%endblock%}

{% block content %}
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags%}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Ups! </strong>, <a href="{%url 'plano_listar'%}" class="alert-link">{{message}}intentalo de nuevo</a>.
</div>
        {% endif %}
    {% endfor %}
{% endif %}
<br>
<form class="form-inline my-2 my-lg-0" type="get" method="POST" action="{%url 'plano_buscar'%}" >
 {% csrf_token %}
    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="buscalo" id="busca">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit" href="" id="botonBus">Busqueda por DNI</button>
</form>
<br>
<table class="table table-hover">
    <thead>
    <tr class="table-warning" >
        <td scope="col">#</td>
        <td scope="col">Fecha Solicitud</td>
        <td scope="col">Usuario</td>
        <td scope="col">DNI</td>
        <td scope="col">Total a Pagar</td>
        <td scope="col">Tipo de Pago</td>
        <td scope="col">Deuda</td>
        <td scope="col">Estado</td>
        <td scope="col">Acciones</td>
    </tr>
    </thead>
    <tbody>
        {% if object_list%}
            {%for plano in object_list%}
                {% if plano.deuda == 0 %}
        <tr class="table-success">
                {% elif plano.deuda %}
            <tr class="table-primary">
                {% else %}
                <tr class="table-danger">
                    {% endif %}
                    <td>{{plano.id}}</td>
                    <td>{{plano.fecha}}</td>
                    <td>{{plano.usuario.nombre}}</td>
                    <td>{{plano.usuario.dni}}</td>
                    <td>${{plano.total}}</td>
                    {% if plano.cuota == False %}
                    <td>1 pago de {{plano.total}}</td>
                    {% else %}
                    <td>3 cuotas de ${{plano.valor_cuota}}</td>
                    {% endif %}
                    <td>${{plano.deuda}}</td>
                    {% if plano.deuda == 0 %}
                    <td>Deuda Saldada</td>
                    {% else %}
                    <td>Con Deuda</td>
                    {% endif %}
                    <td>
                        <nav class="dropdownmenu">
                            <li><a>Seleccionar</a>
                                <ul id="submenu">
                                    <li><a href="{%url 'plano_editar' plano.id%}">Editar</a></li>
                                    <li><a href="{%url 'plano_editar' plano.id%}">Plano</a></li>
                                    {% if plano.cuota == False %}
                                    <li><a href="{%url 'pago_nuevo' plano.id%}">pago unico</a></li>
                                    {% else %}
                                    <li><a href="{%url 'pago_nuevo' plano.id%}">cuota 1</a></li>
                                    {% endif %}

                                    {% if plano.deuda < plano.total or plano.deuda == 0 %}
                                    <li><a href="{%url 'pago_pdf' plano.id %}">Comprobante</a></li>
                                    {% endif %}

                                    {% if plano.cuota == True %}
                                    <li><a href="{%url 'pago_cuota_2' plano.id%}">cuota 2</a></li>
                                    {% endif %}

                                    {% if plano.pago2 > 0 %}
                                    <li><a href="{%url 'pago2_pdf' plano.id %}">Comprobante</a></li>
                                    {% endif %}

                                    {% if plano.cuota == True %}
                                    <li><a href="{%url 'pago_cuota_3' plano.id%}">cuota 3</a></li>
                                    {% endif %}

                                    {% if plano.pago3 > 0 %}
                                    <li><a href="{%url 'pago3_pdf' plano.id %}">Comprobante</a></li>
                                    {% endif %}

                                </ul>
                            </li>
                        </nav>
                    </td>
                </tr>
                {%endfor%} {% else %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Ups! </strong>tú busqueda no dio resultados, <a href="{%url 'plano_listar'%}" class="alert-link">intentalo de nuevo</a>.
                </div>
                {%endif%}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif%}
      {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif%}
  </ul>
</nav>

{% endblock%}

{% block js%}
<script>
    $(document).ready(function() {
        $('.boton1').click(function() {
            window.alert('Realiza el informe técnico y cambia el estado a "Entregado" \nDe esa manera podrás emitir el comprobante de pago!');
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#botonBus').click(function() {
            var buscar = $('#busca').val();
            if (buscar==""){
                window.alert('Ingresa un DNI para realizar una busqueda');
            }
        });
    });
</script>

{%endblock%}